/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--ifm-color-primary: #a68168;
	--ifm-color-primary-dark: #99735a;
	--ifm-color-primary-darker: #906d55;
	--ifm-color-primary-darkest: #775a46;
	--ifm-color-primary-light: #b08f79;
	--ifm-color-primary-lighter: #b59681;
	--ifm-color-primary-lightest: #c4ac9b;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
	--ifm-color-primary: #c5ac9c;
	--ifm-color-primary-dark: #b89986;
	--ifm-color-primary-darker: #b1907b;
	--ifm-color-primary-darkest: #9c745b;
	--ifm-color-primary-light: #d2bfb2;
	--ifm-color-primary-lighter: #d9c8bd;
	--ifm-color-primary-lightest: #ece4df;
}
